@media all and (min-device-width: 768px) AND (min-width: 1080px) {
    .container-grid {
        display: grid;
        grid-template-areas:
                'header-grid'
                'content'
                'footer';
        grid-template-rows: 500px auto 200px;
    }

    .container-grid .menu-grid{
        grid-area: header-grid;
        grid-template-areas: 'logo title nav-grid';
        grid-template-columns: 100px 310px auto;
        grid-template-rows: 100px;
        border-bottom: none;
        background-color: transparent;
        position: fixed;
        top: 0px;
        width: 100%;
        color: white;
    }

    .container-grid .opaque{
        background-color: #ffd965;
        border-bottom: 1px solid black;
        color: #636b6f;
    }

    .container-grid .menu-grid .logo{
        background-color: transparent;
        width: 30px;
        height: 30px;
        margin-left: 50px;
    }

    .container-grid .menu-grid .title{
        font-size: 2.8vh;
    }

    .container-grid .menu-grid .nav-grid-button{
        display: none;
    }

    .container-grid .menu-grid .nav-grid{
        display: block;
        align-self: center;
        justify-self: right;
        border: none;
        margin-right: 50px;
    }

    .container-grid .menu-grid .nav-grid ul li{
        border-bottom: none;
        display: inline-block;
        padding-right: 20px;
        text-transform: uppercase;
    }

    .container-grid .menu-grid .nav-grid ul li:hover{
        background-color: transparent;
    }

    .container-grid .menu-grid .nav-grid a{
        color: white;
        font-size: 2.2vh;
    }

    .container-grid .menu-grid .nav-grid a:hover{
        color: #636b6f;
    }

    .container-grid .opaque .nav-grid a{
        color: #636b6f;
    }

    .container-grid .opaque .nav-grid a:hover{
        color: white;
    }

    .container-grid .footer-grid {
        grid-template-areas: 'links social' 'copyright social';
        grid-template-rows: 80px 20px;
        grid-template-columns: 330px 370px;
        padding: 20px;
        align-content: center;
        justify-content: center;
    }

    .container-grid .footer-grid .links{
        justify-self: left;
    }

    .container-grid .footer-grid .links ul li{
        margin: 0px 5px 0px 0px;
    }

    .container-grid .footer-grid .copyright{
        justify-self: left;
    }

    .container-grid .footer-grid .social{
        align-self: center;
        justify-self: right;
        font-size: 50px;
    }
}