html, body {
    background-size: 100%;
    color: #636b6f;
    font-family: 'Teko', sans-serif;
    font-weight: 100;
    font-size: 30pt;
    height: 100vh;
    margin: 0;
}

.content {
    text-align: center;
}

.container-grid {
    display: grid;
    grid-template-areas:
            'menu-grid'
            'header-grid'
            'content'
            'footer';
    grid-template-rows: 80px auto 1fr 200px;
}

.container-grid .menu-grid{
    grid-area: menu-grid;
    display: grid;
}

.container-grid .header-grid {
    grid-area: header-grid;
    display: grid;
}

.container-grid .content-grid {
    grid-area: content;
}

.container-grid .footer-grid {
    grid-area: footer;
    display: grid;
}