.content-grid .main-grid{
    display: grid;
    grid-template-areas: 'about-grid'
                         'what-we-do-grid'
                         'testimonials-grid'
                         'blog-feed-grid'
                         'work-with-us-grid';
    grid-template-rows: repeat(5, auto);
    width: 100%;
}

.content-grid .main-grid .about-grid{
    grid-area: about-grid;
    background-color: #D9D9D9;
    display: grid;
    grid-template-areas: 'title'
                         'sub-title'
                         'book'
                         'description'
                         'book-button';
    grid-gap: 20px;
    padding: 30px;
}

.content-grid .main-grid .about-grid .title{
    grid-area: title;
    font-size: 2.5vh;
    font-weight: bold;
}

.content-grid .main-grid .about-grid .sub-title{
    grid-area: sub-title;
    font-size: 2vh;
    text-align: justify;
    text-indent: 30px;
}

.content-grid .main-grid .about-grid .book{
    grid-area: book;
}

.content-grid .main-grid .about-grid .description{
    grid-area: description;
    font-size: 2vh;
    text-align: justify;
    text-indent: 30px;
}

.content-grid .main-grid .about-grid .book-button{
    grid-area: book-button;
    font-size: 2.5vh;
}

.content-grid .main-grid .what-we-do-grid{
    grid-area: what-we-do-grid;
    background-color: #ffd965;
    display: grid;
    grid-template-areas: 'title'
                         'sub-title'
                         'description'
                         'product-1'
                         'product-2'
                         'product-3';
    grid-gap: 20px;
    padding: 30px;
}

.content-grid .main-grid .what-we-do-grid .title{
    grid-area: title;
    font-size: 2.5vh;
    font-weight: bold;
}

.content-grid .main-grid .what-we-do-grid .sub-title{
    grid-area: sub-title;
    font-size: 2vh;
    text-align: justify;
    text-indent: 30px;
}

.content-grid .main-grid .what-we-do-grid .description{
    grid-area: description;
    font-size: 2vh;
    text-align: justify;
    text-indent: 30px;
}

.content-grid .main-grid .what-we-do-grid .product-1{
    grid-area: product-1;
}

.content-grid .main-grid .what-we-do-grid .product-2{
    grid-area: product-2;
}

.content-grid .main-grid .what-we-do-grid .product-3{
    grid-area: product-3;
}

.content-grid .main-grid .what-we-do-grid .product-grid{
    display: grid;
    grid-template-areas: 'title'
                         'description';
    grid-gap: 20px;
    padding: 20px;
    border: 1px solid #636B6F;
}

.content-grid .main-grid .what-we-do-grid .product-grid .title{
    font-size: 2vh;
}

.content-grid .main-grid .what-we-do-grid .product-grid .description{
    font-size: 1.7vh;
}

.content-grid .main-grid .testimonials-grid{
    grid-area: testimonials-grid;
    background-color: #D9D9D9;
    display: grid;
    grid-template-areas: 'title'
                         'description'
                         'testimonials-carousel';
    grid-gap: 20px;
    padding: 30px;
}

.content-grid .main-grid .testimonials-grid .title{
    grid-area: title;
    font-size: 2.5vh;
    font-weight: bold;
}

.content-grid .main-grid .testimonials-grid .description{
    grid-area: description;
    font-size: 2vh;
    text-align: justify;
    text-indent: 30px;
}

.content-grid .main-grid .testimonials-grid .testimonials-carousel{
    grid-area: testimonials-carousel;
    font-size: 2vh;
}

.content-grid .main-grid .blog-feed-grid{
    grid-area: blog-feed-grid;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    padding: 30px;
}

.content-grid .main-grid .blog-feed-grid .post-grid{
    display: grid;
    grid-template-areas: 'image'
                         'title';
    grid-gap: 10px;
}

.content-grid .main-grid .blog-feed-grid .post-grid img{
    grid-area: image;
    width: 100%;
}

.content-grid .main-grid .blog-feed-grid .post-grid .title{
    grid-area: title;
    font-size: 2.5vh;
    color: white;
}

.content-grid .main-grid .blog-feed-grid .post-grid .title a{
    text-decoration: none;
    color: white;
}

.content-grid .main-grid .blog-feed-grid .post-grid .title a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #ffd965;
}

.content-grid .main-grid .blog-feed-grid .post-grid .summary{
    display: none;
}

.content-grid .main-grid .work-with-us-grid{
    grid-area: work-with-us-grid;
    display: grid;
    background-color: #ffd965;
    grid-template-areas: 'title'
                         'description'
                         'get-started-button';
    grid-gap: 20px;
    padding: 30px;
}

.content-grid .main-grid .work-with-us-grid .title{
    grid-area: title;
    font-size: 2.5vh;
    font-weight: bold;
}

.content-grid .main-grid .work-with-us-grid .description{
    grid-area: description;
    font-size: 2vh;
    text-align: justify;
    text-indent: 30px;
}

.content-grid .main-grid .work-with-us-grid .get-started-button{
    grid-area: get-started-button;
    font-size: 2.5vh;
}

.content-grid .main-grid .work-with-us-grid .get-started-button .button{
    background-color: #D9D9D9;
}